@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie:regular,bold,italic&subset=latin,latin-ext");

* {
  margin: 0;
  padding: 0;
  font-family: "Reenie Beanie", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  overflow: hidden;
}

#background {
  width: 100vw;
  height: 100vh;
}

@keyframes fadeintext {
  0%,
  10%,
  100% {
    color: rgba(255, 255, 255, 0);
    filter: blur(4px);
  }
  20%,
  90% {
    color: rgb(255, 255, 255);
    filter: blur(0px);
    text-shadow: 0px 1px 1px rgba(0, 0, 0);
  }
}

@keyframes fadeintextandhide {
  0%,
  10% {
    color: rgba(255, 255, 255, 0);
    filter: blur(4px);
    text-shadow: none;
  }
  20%,
  90% {
    color: rgb(255, 255, 255);
    filter: blur(0px);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.928);
    display: block;
  }
  100% {
    color: rgba(255, 255, 255, 0);
    filter: blur(4px);
    display: none;
    text-shadow: none;
  }
}

@keyframes pulse {
  0%,
  70% {
    -webkit-filter: none;
    filter: none;
  }

  80% {
    -webkit-filter: drop-shadow(2px 1px 1px yellow)
      drop-shadow(0px 0px 10px yellow);
    filter: drop-shadow(0px 0px 1px yellow) drop-shadow(0px 0px 0 yellow);
  }
  100% {
    -webkit-filter: none;
    filter: none;
  }
}

/* NORMAL SCENES */

.clickableObject {
  text-align: center;
  color: white;
  z-index: 1;
}

.clickableObject:hover {
  -webkit-filter: drop-shadow(2px 1px 10px yellow)
    drop-shadow(0px 0px 10px yellow);
  filter: drop-shadow(0px 0px 10px yellow) drop-shadow(0px 0px 0 yellow);
  color: yellow;
  cursor: pointer;
}

.clickableObjectImage {
  height: inherit;
  width: inherit;
  animation: 15s ease-out 5s infinite normal both running pulse;
}

.maintext {
  padding: 1vh 2vh;
  height: min-content;
  overflow: hidden;
  font-size: calc(1rem + 2vh);
  color: rgba(255, 255, 255, 0);
  z-index: 3000;
  text-transform: lowercase;
}

#maintext0 {
  animation: 5s ease-out 0s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext1 {
  animation: 5s ease-out 4s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext2 {
  animation: 5s ease-out 8s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext3 {
  animation: 5s ease-out 12s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext4 {
  animation: 5s ease-out 16s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext5 {
  animation: 5s ease-out 20s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext6 {
  animation: 5s ease-out 24s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext7 {
  animation: 5s ease-out 28s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

#maintext8 {
  animation: 5s ease-out 32s 1 normal forwards running fadeintext;
  color: rgba(255, 255, 255, 0);
}

.textbottomleft,
.textbottomright,
.textbottomcenter,
.texttopleft,
.texttopright,
.texttopcenter,
.textmiddleleft,
.textmiddleright,
.textmiddlecenter {
  position: absolute;
  padding: 1vh 2vh;
  height: min-content;
  overflow: hidden;
  backdrop-filter: grayscale;
  font-size: calc(2rem + 2vh);
}

.textbottomleft {
  top: 55vh;
  left: 5vw;
  max-width: 70vw;
}

.textbottomright {
  position: absolute;
  top: 55vh;
  right: 5vw;
  max-width: 70vw;
}

.textbottomcenter {
  position: absolute;
  top: 55vh;
  left: 30vw;
  max-width: 70vw;
}

.texttopcenter {
  position: absolute;
  top: 5vh;
  left: 30vw;
  max-width: 70vw;
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

.clickableObjectText {
  animation: 7s ease-out 0s 1 normal forwards running fadeintext;
  position: absolute;
  bottom: 3vh;
  left: 40%;
  font-size: calc(1rem + 2vh);
}

/* BATTLE SCENES */
#battlescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#battleVS {
  position: absolute;
  top: 5vh;
  margin: 0px auto;
  font-size: calc(2rem + 3vh);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.828);
  color: whitesmoke;
}

#buttonsdiv {
  position: absolute;
  top: 20vh;
  font-size: calc(1rem + 2vh);
  color: whitesmoke;
  text-align: center;
  display: flex;
}

#buttonsdiv div {
  padding: 0.5vw 1vw;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  margin: 0.5vw;
}

#buttonsdiv div:hover {
  background-color: whitesmoke;
  color: rgb(60, 60, 60);
  cursor: pointer;
}

#actiondescription {
  position: absolute;
  top: 32vh;
  font-size: calc(1rem + 2vh);
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#actiondescription > p {
  /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
  animation: 3s ease-out 0s 1 normal forwards running fadeintextandhide;
}

#playerDetails,
#opponentDetails {
  max-width: 45vw;
}

#playerDetails img,
#opponentDetails img {
  position: absolute;
  bottom: -3vw;
  width: 30vw;
  max-height: 90vh;
  -webkit-filter: drop-shadow(2px 1px 10px yellow)
    drop-shadow(0px 0px 10px yellow);
  filter: drop-shadow(0px 0px 10px yellow) drop-shadow(0px 0px 0 yellow);
}

#playerDetails img {
  left: -5vw;
  transform: rotate(20deg);
}

#opponentDetails img {
  right: -5vw;
  transform: rotate(-20deg);
}

#battleLabels {
  position: absolute;
  bottom: 2vw;
  width: 20vw;
  color: whitesmoke;
  left: 40vw;
  font-size: calc(1rem + 3vh);
}

.battleLabel {
  display: flex;
  justify-content: space-between;
}

#battleLabels {
  list-style: none;
}

#playerDetails ul {
  left: 22vw;
  text-align: right;
}

#opponentDetails ul {
  right: 22vw;
  text-align: left;
}
